<launch>
    <group ns="A">
        <param name="topic_name" value="message"/>
        <node name="publisher" pkg="launch_file_tutorial" type="launch_publisher" output="screen"/>
    </group>
    <group ns="B">
        <param name="topic_name" value="message"/>
        <node name="publisher" pkg="launch_file_tutorial" type="launch_publisher" output="screen"/>
    </group>
</launch>